body {
    color: #FFFFFF;
    font-family: "DM Sans";
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
}

.conrainer {
    width: 1340px;
    margin: 0 auto;
}

.section-about {
    margin: 334px 134px 403px 780px;
}

.section-about-img {
    padding: 70px 0 0;
}

.header {
    padding: 26px 0 26px;
}

.header-fon {
    background-color: #191919;
}

.about-episode {
    background-color: #000000;
}

.desc-title {
    color:#118DA8;
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.desc-title-size-blue {
    color:#118DA8;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.desc-title-fon {
    color:#FFFFFF;
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    background-color: #118DA8;
    width: 178px;
    min-width: 51px;
    display: block;
    padding: 12px 0 12px;
}

.desc-title-fon-contact {
    color:#FFFFFF;
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    }


.desc-title-tips {
    color:#FFFFFF;
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.footer-fon {
    color:#FFFFFF;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    background-color: #118DA8;
}

.footer-fon-two {
    color:#FFFFFF;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.desc-title-size {
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

.desc-title-author {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}

.desc-title-author-grey {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    background-color: #191919;
}

.desc-text-author {
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
}

.desc-text-microphone {
    font-family: DM Sans;
    font-size: 57px;
    font-weight: 400;
    line-height: 70.4px;
}

.desc-text-mic {
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
}

.desc-title-author-little {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 28.8px;
    background-color: #118DA8;
}

.desc-email {
    font-family: DM Sans;
    font-size: 72px;
    font-weight: 400;
    line-height: 79.2px;
}

.desc-bold {
    font-family: "DM Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    margin:  510px 284px 315px 965px;
}

.desc-listen {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.desc-section {
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 79.2px;
}